* {
    margin: 0;
    font-family: Brandon, segoe ui;

}
body {
    
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/page-loader2.gif') 50% 50% no-repeat #e6e6e6;
}

a, img {
    border: none;
}

::selection
{
    background: rgba(157, 190, 191, 0.35);
    color:rgba(0, 0, 0, 0.65);
}
::-moz-selection
{
    background: rgba(157, 190, 191, 0.35);
    color:rgba(0, 0, 0, 0.65);
}

@font-face {
    font-family: Brandon;
    src: url(../styles/fonts/Brandon_reg.otf);
    font-weight:normal;
}
@font-face {
    font-family: Brandon;
    src: url(../styles/fonts/Brandon_bld.otf);
    font-weight:bold;
}
@font-face {
    font-family: Brandon;
    src: url(../styles/fonts/Brandon_reg_it.otf);
    font-weight:normal;
    font-style:italic;
}
@font-face {
    font-family: Brandon;
    src: url(../styles/fonts/Brandon_light.otf);
    font-weight: lighter;
}

body {
     
    font-size: 15px;
}

.clear {
    clear: both;
}

.main {
    width: 900px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    padding:30px 0;
}

h2 {
    font-size: 30px;
    font-weight: normal;
}
h4 {
    font-size: 20px;
    font-weight: normal;
}


p {
    font-weight: lighter;
    font-size: 20px;
}

/*-- placeholder text --*/
::-webkit-input-placeholder { color:#333; }
::-moz-placeholder { color:#333; } /* firefox 19+ */
:-ms-input-placeholder { color:#333; } /* ie */
input:-moz-placeholder { color:#333; }

input[type=submit] {
    background: rgba(157, 191, 180, 0.79);
    width: 105px;
    height: 36px;
    color: #fff;
    font-size: 17px;
    outline: none;
    display: block;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 15px;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(157, 191, 180, 0.79), 0 5px 0 #71857E, 0 6px 6px rgba(157, 191, 180, 0.79);
	cursor: pointer;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}
input[type=submit]:active
{
	box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(157, 191, 180, 0.79);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-animation: none;
	animation: none;
}


/*-- footer --*/
#footer {
    background-color: #E6E6E6;
    color: #333;
    width: 100%;
    clear:both;
    padding: 15px 0 0 0;
}
#copyright {
    padding:50px 0;
    text-align:center;
}
    #copyright a {
        color: #333;
    }
#social {
    float:right;
}