/*-- header --*/
#header {
    background: url(../images/picture_bigger.png) no-repeat;
    /*background: url(../images/BackDesign.jpg) no-repeat;*/
    background-size: cover;
    width:100%;
    height:600px;
    margin: 0px 0px 0px 0px;
    font-size:20px;
    padding: 50px 0 0 0;
    box-shadow: black 0px 0.5px 2.5px;
}
    #headerLogo {
        width: 85px;
        float: left
    }
        #imgLogo {
            background: url(../images/pixelartLogo.png) no-repeat;
            width:85px;
            height:84px;
            margin: 0px 0px 0px 0px;
        }
        #textLogo {
            margin: 0 0 0 12px;
            font-size: 18px;
            color: #fff;
        }

    #headerNav {
        font-size:22px;
        margin: 25px 0 0 0;
        letter-spacing:0.4px;
        float: right;
    }
        #headerNav .navLink {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            padding: 0 10px 0 0;
        }
        #headerNav a{
            color: #fff;
            /*color: #000;*/
            text-decoration: none;
            font-weight: bold;
            padding: 0 10px 0 0;
            display: block;
            float:left;
        }
        #headerNav a:active {
            color: #808080
        }
        #headerNav a  .btnBigger{
            float: left;
            margin: 0 10px;
        }



/*-- info --*/
.info {
    margin: 50px 0;
    width: 100%;
    height: 210px;
}
    #infoAbout {
        width: 300px;
        float: left;
    }
        #aboutImg {
            background: url(../images/about.png)no-repeat;
            width: 81px;
            height: 81px;
            margin: 0 auto;
        }

    #infoReview {
        width: 300px;
        float: right;
    }
        #reviewImg {
            background: url(../images/reviews.png)no-repeat;
            width: 81px;
            height: 81px;
            margin: 0 auto;
        }

    .infoTitle {
        text-align: center;
    }

    .infoDesc {
        width:270px;
        margin: 0 auto;
        text-align: center;
    }


/*-- teaser --*/
#teaser {
    background: url(../images/robot.jpg) repeat-x #E6E6E6; 
    background-size: cover; 
    width: 100%;
    height: 400px;
}

    #teaserDesc {
        text-align: center;
        color: white;
        margin: 120px 0 0 0;
        float: right;
    }


/*-- contact --*/
#contact {
    float:left;
    width: 340px;
}
    #contactFields {
        margin: 28px 0 0 0;
    }
        .txtfield {
            border:none;
            background: #fff;
            width: 320px;
            height: 40px;
            color: #333;
            font-size: 20px;
            font-weight:lighter;
            padding: 0 0 0 10px;
            border-left: rgba(157, 191, 180, 0.79) 6px solid;
        }

    #contactDesc {
        margin: 0;
    }
    #contact #btnSend {
        margin: 0 0 0 230px;
    }
#lblError {
    position: absolute;
    color: red;
}

/*-- junk --*/
#junk {
    float: right;
    width: 340px;
    padding: 60px 0 0 0;
}
    #junkImg {
        background: url(../images/robot1.png) no-repeat;
        width: 250px;
        height: 256px;
        margin: 50px;
    }




/*Rotating Photo*/

.layoutrow {
    width: 960px;
    height: 230px;
    margin: 40px auto 0 auto;
}
.icons .layoutcol_1 {
    float: left;
    width: 114px;
    height: 87px;
    margin: 0px 23px;
}
.icons img:hover {
    -webkit-transition: all 200ms linear;
    -webkit-transform: rotate(360deg);
    transition: all 200ms linear;
    transform: rotate(360deg);
}
.icon {
    text-align: center;
}