body {
    background-color: #E6E6E6;
}

section {
    background-color: #fff;
    padding: 50px;
}

#header {
    width:100%;
    height:110px;
    font-size:20px;
    padding: 50px 0 0 0;
    background-color: rgba(157, 191, 180, 0.79);
    
}

#headerLogo {
    width: 85px;
    float: left
}
    #imgLogo {
        background: url(../images/pixelartLogo.png) no-repeat;
        width:85px;
        height:84px;
        margin: 0px 0px 0px 0px;
    }
    #textLogo {
        margin: 0 0 0 12px;
        font-size: 18px;
        color: #000;
    }

#headerNav {
    font-size:22px;
    margin: 25px 0 0 0;
    font-weight: bold;
    letter-spacing:0.4px;
    float: right;
}
    #headerNav a{
        
        color: #000;
        text-decoration: none;
        font-weight: normal;
        margin: 0 10px 0 0;
    }
    #headerNav a:active {
        color: #808080
    }




/*-About-*/


#aboutPixelart {
    background-color: rgba(157, 191, 180, 0.79);
    padding: 5px 0 40px 0;
    color: #fff;
    border-bottom: #E6E6E6 10px solid;
}

#infoDescPerson1 {
    width: 635px;
    float:left;
}
#infoDescPerson2 {
    float: left;
    margin: -190px 0px 0px 273px;
}



/*-- info --*/
.info {
    width: 100%;
}
#infoContainer {
    float: left;
    width: 700px;
}

    .infoTitle {
        
    }

    .infoDesc {
    }

#infoTeam {
    margin: 0px auto;
}
    

    #pWrap {
        width:600px;
        margin: 0 auto;
    }

        #p1 {
            width: 250px;
            height: 500px;
            float: left;
            margin: 0 100px 0 0;
        }

        #p2 {
            float: left;
            width: 250px;
            height: 500px;
        }
            .pImg {
                border-radius: 200px;

            }

#aboutUs {
    background: url(../images/aboutUs.png) no-repeat;
    width: 1003px;
    height: 671px;
    margin: 40px auto 0 auto;
}
#allBg {
    background:rgba(157, 191, 180, 0.79);
}

#israel {
    width: 112px;
    background: url(../images/israel.png) no-repeat;
    height: 300px;
    float: left;
    margin: 0 0 0 75px;
    position:relative;
}

#israel #shoham {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: skyblue;
    position: absolute;
    top: 108px;
    left: 44px;
}

/*-- contact --*/
#contact {
    float:left;
    width: 340px;
}
    #contactFields {
        margin: 28px 0 0 0;
    }
        .txtfield {
            border:none;
            background: #fff;
            width: 320px;
            height: 40px;
            color: #333;
            font-size: 20px;
            font-weight:lighter;
            padding: 0 0 0 10px;
            border-left: rgba(157, 191, 180, 0.79) 6px solid;
        }
        #txtMsg {
            height: 150px;
        }

    #contactDesc {
        margin: 0;
    }
    #contact #btnSend {
        margin: 0 0 0 230px;
    }
#footerHolder_btnSend {
margin: 0 0 0 230px;
}
#txtMsg {
height: 150px;
}

/*-- junk --*/
#junk {
    float: right;
    width: 340px;
    padding: 60px 0 0 0;
}
    #junkImg {
        background: url(../images/robot1.png) no-repeat;
        width: 250px;
        height: 256px;
        margin: 50px;
    }