

@media only screen and (min-width : 320px) and (max-width : 450px) {


}

@media only screen and (min-width : 451px) and (max-width : 560px) {

    
}
/*Working Here*/
@media only screen and (min-width : 561px) and (max-width : 689px) {

    #imglogoSmall {
        display: block;
        margin: 0px auto 10px auto;
        width: 60px;
    }
    .main {
        width: 700px;
        margin: 0 auto;
        padding: 0;
    }
    #infoDescPerson1 {
        width: 540px;
        float: left;
    }
    .pImg {
        border-radius: 200px;
        width: 115px;
    }
    #person2 {
        margin: 70px 0 0 0;
    }
    #infoDescPerson2 {
        float: left;
        margin: -130px 0px 0px 150px;
    }

  
}



@media only screen and (min-width : 690px) and (max-width : 1000px) {


    .main {
        width: 700px;
        margin: 0 auto;
        padding: 0;
    }
    #infoDescPerson1 {
        width: 540px;
        float: left;
    }
    .pImg {
        border-radius: 200px;
        width: 115px;
    }
    #person2 {
        margin: 70px 0 0 0;
    }
    #infoDescPerson2 {
        float: left;
        margin: -130px 0px 0px 150px;
    }
   
}

@media only screen and (min-width : 1001px) and (max-width : 1100px) {

}




