

@media only screen and (min-width : 320px) and (max-width : 450px) {

    .main {
        width: 340px;
        margin: 0 auto;
        padding: 0;
    }
    p {
        font-weight: lighter;
        font-size: 16px;
    }
    .loader {
        display:none;
    }
    #headerLogo {
        display: none;
    }
    #headerNav {
        font-size: 23px;
        margin: 0 60px;
    }
        #headerNav a {
            margin: 10px 0 0 0;
            width: 200px;
            height: 40px;
            text-align: center;
            border-bottom: solid 4px rgba(255, 255, 255, 0.8);
            padding: 20px 0 0 0;
        }
    #imglogoSmall {
        display: block;
        margin: 0px auto 10px auto;
        width: 45px;
    }
    #header {
        padding: 20px 0 0 0;
        height: 500px;
    }
    #infoAbout {
        width: 340px;
        float: none;
    }
    #infoReview {
        width: 340px;
        margin: 35px 0 0 0px;
        float: none;
    }
    #teaserImg {
        display: none;
    }
    #teaserDesc {
        margin: 0;
        float: none;
    }
    #teaser {
        background: url(../images/robot.jpg) repeat-x; 
        background-size: cover; 
        background-position: 0 bottom;
        height: 300px;
        padding: 10px 0 0 0;
    }
    /*-- junk --*/
    #junk {
        display:none;
    }
    h2 {
        font-size: 28px;
        font-weight: normal;
    }
    h1 {
        font-size: 33px;
        font-weight: lighter;
        padding: 30px 0 20px 0;
    }
    #LetDesc {
        font-size: 16px;
    }
    .infoDesc {
        width: 245px;
    }
    #contact {
        width: 250px;
        margin: 0 auto;
        float: none;
        padding: 0 0 20px 0;
    }
    #contactDesc {
        width:250px;
    }

    .txtfield {
        width: 230px;
    }
    #contactFields {
        float: none;
        width: 250px;
    }
    #contact #btnSend {
        margin: 0 0 0 140px;
    }
    #copyright {
        display: none;
    }
    input[type=submit] {
        margin: 0px 105px 23px 0;
    }
    .info {
        height: 400px;
    }
    #copyright {
        margin: 0px auto;
        width: 253px;
        float: left;
    }
    #allIcons {
        margin: 0 auto;
        width: 300px;
    }
    #img {
        width: 300px;
    }
    #iconsWrap {
        display:none;
    }
}

@media only screen and (min-width : 451px) and (max-width : 560px) {

        .main {
        width: 340px;
        margin: 0 auto;
        padding: 0;
    }
    p {
        font-weight: lighter;
        font-size: 16px;
    }
    .loader {
        display:none;
    }
    #headerLogo {
        display: none;
    }
    #headerNav {
        font-size: 23px;
        margin: 0 60px;
    }
    #headerNav a{
        margin: 10px 0 0 0;
        width: 200px;
        height: 40px;
        text-align:center;
        border-bottom:solid 4px rgba(255, 255, 255, 0.8);
        padding: 20px 0 0 0;
    }
    #imglogoSmall {
        display: block;
        margin: 0px auto 10px auto;
        width: 60px;
    }
    #header {
        padding: 20px 0 0 0;
        height: 500px;
    }
    #infoAbout {
        width: 340px;
        float: none;
    }
    #infoReview {
        width: 340px;
        margin: 35px 0 0 0px;
        float: none;
    }
    #teaserImg {
        display: none;
    }
    #teaserDesc {
        margin: 0;
        float: none;
    }
    #teaser {
        background: url(../images/robot.jpg) repeat-x; 
        background-size: cover; 
        background-position: 0 bottom;
        height: 300px;
        padding: 10px 0 0 0;
    }
    /*-- junk --*/
    #junk {
        display:none;
    }
    h2 {
        font-size: 28px;
        font-weight: normal;
    }
    h1 {
        font-size: 33px;
        font-weight: lighter;
        padding: 30px 0 20px 0;
    }
    #LetDesc {
        font-size: 16px;
    }
    .infoDesc {
        width: 245px;
    }
    #contact {
        width: 300px;
        margin: 0 auto;
        float: none;
        padding: 0 0 20px 0;
    }
    #contactDesc {
        width:300px;
    }

    .txtfield {
        width: 300px;
    }
    #contactFields {
        float: none;
        width: 300px;
    }
    #contact #btnSend {
        margin: 0 0 0 210px;
    }
    #copyright {
        display: none;
    }
    input[type=submit] {
        margin: 0px 105px 23px 0;
    }
    .info {
        height: 400px;
    }
    #copyright {
        margin: 0px auto;
        width: 253px;
        float: left;
    }
    #allIcons {
        margin: 0 auto;
        width: 300px;
    }
    #img {
        width: 300px;
    }
    #iconsWrap {
        display:none;
    }
}

@media only screen and (min-width : 561px) and (max-width : 689px) {

    .main {
        width: 340px;
        margin: 0 auto;
        padding: 0;
    }
    p {
        font-weight: lighter;
        font-size: 16px;
    }

    .loader {
        display:none;
    }

    #headerLogo {
        display: none;
    }
    #headerNav {
        font-size: 23px;
        margin: 0 60px;
    }
    #headerNav a{
        margin: 10px 0 0 0;
        width: 200px;
        height: 40px;
        text-align:center;
        border-bottom:solid 4px rgba(255, 255, 255, 0.8);
        padding: 20px 0 0 0;
    }
    #imglogoSmall {
        display: block;
        margin: 0px auto 10px auto;
        width: 60px;
    }
    #header {
        padding: 20px 0 0 0;
        height: 500px;
    }
    #infoAbout {
        width: 340px;
        float: none;
    }
    #infoReview {
        width: 340px;
        margin: 35px 0 0 0px;
        float: none;
    }
    #teaserImg {
        display: none;
    }
    #teaserDesc {
        margin: 0;
        float: none;
    }
    #teaser {
        background: url(../images/robot.jpg) repeat-x; 
        background-size: cover; 
        background-position: 0 bottom;
        height: 300px;
        padding: 10px 0 0 0;
    }
    /*-- junk --*/
    #junk {
        display:none;
    }
    h2 {
        font-size: 28px;
        font-weight: normal;
    }
    h1 {
        font-size: 33px;
        font-weight: lighter;
        padding: 30px 0 20px 0;
    }
    #LetDesc {
        font-size: 16px;
    }
    .infoDesc {
        width: 245px;
    }
    #contact {
        padding: 0 0 20px 0;
    }
    #copyright {
        display: none;
    }
    input[type=submit] {
        margin: 0px 105px 23px 0;
    }
    .info {
        height: 400px;
    }
    #allIcons {
        margin: 0 auto;
        width: 300px;
    }
    #img {
        width: 300px;
    }
    #iconsWrap {
        display:none;
    }
}

@media only screen and (min-width : 690px) and (max-width : 1000px) {

    .main {
        width: 670px;
        margin: 0 auto;
        padding: 0;
    }

    p {
        font-weight: lighter;
        font-size: 16px;
    }
    
    #header {
        padding: 20px 0 0 0;
        height: 500px;
    }
    #headerNav a{
        float:left;
    }
    #teaserImg {
        display: none;
    }
    #teaserDesc {
        margin: 0;
        float: none;
    }
    #teaser {
        background: url(../images/robot.jpg) repeat-x; 
        background-size: cover; 
        background-position: 0 bottom;
        height: 300px;
        padding: 10px 0 0 0;
    }
    h2 {
        font-size: 28px;
        font-weight: normal;
    }
    h1 {
        font-size: 33px;
        font-weight: lighter;
        padding: 30px 0 20px 0;
    }
    #LetDesc {
        font-size: 16px;
    }
    .infoDesc {
        width: 245px;
    }

    #contact {
        width: 250px;
        margin: 0 auto;
        padding: 0 0 20px 0;
    }
    #contactDesc {
        width:250px;
    }

    .txtfield {
        width: 230px;
    }
    #contactFields {
        float: none;
        width: 250px;
    }
    #contact #btnSend {
        margin: 0 0 0 140px;
    }

    #junk {
        width: 250px;
    }
    #junkImg {
        margin: 0 0 30px 0;
    }
    #iconsWrap {
        display:none;
    }
}

@media only screen and (min-width : 1001px) and (max-width : 1100px) {

    .main {
        width: 800px;
        margin: 0 auto;
        padding: 0;
    }

    p {
        font-weight: lighter;
        font-size: 16px;
    }
    
    #header {
        padding: 20px 0 0 0;
        height: 500px;
    }
    #headerNav a{
        float:left;
    }
    #teaserImg {
        display: none;
    }
    #teaserDesc {
        margin: 0;
        float: none;
    }
    #teaser {
        background: url(../images/robot.jpg) repeat-x; 
        background-size: cover; 
        background-position: 0 bottom;
        height: 300px;
        padding: 10px 0 0 0;
    }
    h2 {
        font-size: 28px;
        font-weight: normal;
    }
    h1 {
        font-size: 33px;
        font-weight: lighter;
        padding: 30px 0 20px 0;
    }
    #LetDesc {
        font-size: 16px;
    }
    .infoDesc {
        width: 245px;
    }

    #contact {
        width: 250px;
        margin: 0 auto;
        padding: 0 0 20px 0;
    }
    #contactDesc {
        width:250px;
    }

    .txtfield {
        width: 230px;
    }
    #contactFields {
        float: none;
        width: 250px;
    }
    #contact #btnSend {
        margin: 0 0 0 140px;
    }

    #junk {
        width: 250px;
    }
    #junkImg {
        margin: 0 0 30px 0;
    }
    #iconsWrap {
        display:none;
    }
}




